<div class="title">{{this.data?.edit?'עריכת תורם':'הוספת תורם'}}</div>
<mat-divider></mat-divider>
<form [formGroup]="donorForm" class="donorForm">
  <mat-form-field class="example-full-width">
    <mat-label>שם תורם</mat-label>
    <input matInput formControlName="donorName">
  </mat-form-field>

  <!-- <mat-form-field class="example-full-width">
    <mat-label>עיר</mat-label>
    <input matInput formControlName="donorCity">
  </mat-form-field> -->

  <mat-form-field class="example-full-width">
        <mat-label>עיר</mat-label>
        <mat-select formControlName="donorCity" dir="rtl">
            <mat-option *ngFor="let c of citiesList" [value]="c.key">
                {{c.value}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <!-- <button (click)="addCity=true">הוספת עיר</button> -->
          <button matButton class="addCity" style="background-color:  rgb(215, 212, 212); color: black;" mat-raised-button
            color="red" (click)="addCity=true">הוספת עיר</button>
    <div *ngIf="addCity"><app-add-item-to-combo-data [giftOrCity]="'city'" (saveAddCity)="saveAddCityFun($event)"></app-add-item-to-combo-data></div>
    

  <mat-form-field class="example-full-width">
    <mat-label>כתובת</mat-label>
    <textarea matInput formControlName="donorAddress"></textarea>
  </mat-form-field> 

  <mat-form-field class="example-full-width">
    <mat-label>בית כנסת</mat-label>
    <input matInput formControlName="shul">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>טלפון</mat-label>
    <input matInput formControlName="phone">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>דוא"ל</mat-label>
    <input matInput formControlName="email">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>הערות</mat-label>
    <input matInput formControlName="comments">
  </mat-form-field>

  <button class="cancel" style="background-color: rgb(215, 212, 212); color: white;" mat-raised-button color="gray" (click)="close()">ביטול</button>
  <button class="save" style="background-color:  rgb(157, 142, 114); color: white;" mat-raised-button color="red" (click)="save()">שמור</button>
  <button style="background-color:  rgb(157, 142, 114); color: white;width: 48%;" *ngIf="!this.data?.edit"  mat-raised-button color="red" (click)="save(true)">המשך להוספת תרומה</button>

</form>