<div class="table">
<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay;let i = index">
    <div>
      <th mat-header-cell *matHeaderCellDef> {{namesToDisplay[i]}} </th>
    </div>
    <td mat-cell *matCellDef="let element;">
      <div *ngIf="column!='donationMethodId' && column!= 'donationAmount' && column!='edit' && column != 'donationDate' && column != 'donationCurrency'"> {{element[column]}}</div>
      <div *ngIf="column=='donationMethodId'"> {{getMethod(element[column])?.donationMethodName}} </div>
      <div *ngIf="column=='donationAmount'">{{(element[column])/100}} </div>
      <div *ngIf="column === 'donationDate'" [innerHTML]="(element[column] | dateFormat)" style="white-space: pre-line;"></div>     
      <div *ngIf="column=='donationCurrency'"> {{getCurrency(element[column])?.value}} </div>
      <div *ngIf="column=='edit'">
        <div class="example-button-container">
          <div (click)="navigateToCreateDonation(element)">
            <mat-icon>edit</mat-icon>
          </div>
        </div>
      </div>
      <div *ngIf="column=='delete'">
        <div class="example-button-container">
          <div (click)="deleted(element.donationId)">
            <mat-icon>delete</mat-icon>
          </div>
        </div>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element"></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <!-- <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr> -->
</table>
</div>